
<ion-content>
  <nav id="head">
    <ul class="container">
      <img id="logo" src="assets/imgs/syncwhite.svg">
      <a href="#">What's Trending</a>
      <a href="#" (click)="goToRoom()">My Theater</a>
      <input type="text" (input)="doSearch($event.target.value)" id="search" placeholder="🔍 Find something to watch..."/>
      <a href="#" id="logout" (click)="logout()">Log out <ion-icon name="ios-exit-outline"></ion-icon></a>
    </ul>
  </nav>
  <div id="main-content">
    <h1 id="title-text">{{ title }}</h1>
    <div class="support-grid"></div>

    <div class="band">
      <div *ngFor='let theater of theaters; let index = index;' [ngClass]="{ 'item-1': theater.featured, 'item-2': !theater.featured }">
          <a href="#" (click)="pushRoom(theater.ownerId)" class="card">
            <div *ngIf="theater.image !== ''" class="thumb" [ngStyle]="setImage(index, theater.image)"></div>
            <div *ngIf="theater.image === ''" class="thumb" [ngStyle]="setImage(index)"></div>
            <article>
              <h1>{{ theater.roomName }}</h1>
              <span>{{ theater.ownerName }}</span>
            </article>
          </a>
      </div>
    </div>
  </div>
</ion-content>