page-home {
    ion-content {
        color: #fff;
        background: linear-gradient(-45deg, #4A4BF5, #A238F6);
        background-size: 400% 400%;
        -webkit-animation: Gradient 15s ease infinite;
        -moz-animation: Gradient 15s ease infinite;
        animation: Gradient 15s ease infinite;
    }
    
    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    #head {
        height: 12vh;
        min-height: 74px;
        padding: 20px;
        margin-left: 40px;
        max-height: 100px;
        margin-right: 40px;
        width: auto;
        border-bottom: 1px solid #9B7ADD;
    }

    #logo {
        min-height: 32px;
        max-height: 50px;
        transform: translateX(-3rem) translateY(-1rem);
    }

    @media all and (max-width: 400px) {
        .container > li {
          flex-basis: 100%;
        }
        .container{
            a {
                font-size: 0.2rem !important;
            }
        } 
        .cta {
          order: 1;
        }
    }
    #logout {
        align-self: flex-end;
        margin-left: auto;
    }
    $fg: #000;
    .cta {
        transform: translateY(-1rem);
        min-width: 180px;
        margin-left: 1rem;
        background: #fff;
        font-weight: bold;
        border-radius: 25px;
        line-height: 50px;
        max-width: 250px;
        height: 50px;
        flex: 1;
        text-align: center;
        transition: width .2s ease-in-out;
        cursor: pointer;
        .hide { display: none; }
        form { display: flex; } // I know, I know.
        span {
            opacity: 0;
            width: 100%;
            text-align: center;
            animation: fadeIn .3s ease-in-out;
            animation-delay: .2s;
            animation-fill-mode: forwards;
        }
        .input {
            display: none;
            opacity: 0;
            flex: 3;
            text-align: left;
            input {
                border: 0;
                width: 240px;
                height: 45px;
                margin: 0 0 0 25px;
                outline: none;
                color: $fg;
            }
        }
        .button {
            display: none;
            opacity: 0;
            flex: 1;
            button {
                outline: none;
                padding: 0 15px;
                height: 40px;
                background: linear-gradient(to right, #4A4BF5, #A238F6);
                border-radius: 25px;
                color: #fff;
                border: 0;
                margin: 5px;
                cursor: pointer;
                transition: all .2s ease-in-out;
            }
        }
        &.sent { cursor: default; }
        &.active {
            flex: 2;
            max-width: 350px;
            text-align: left;
            transition: max-width .2s ease-in-out;

            cursor: default;
            span { display: none; }
            .input, .button {
                display: block;
                animation: fadeIn .3s ease-in-out;
                animation-delay: .1s;
                animation-fill-mode: forwards;
            }
        }
    }
    .container {
        display: flex;
        align-items: center;

        a {
            padding-bottom: 1rem;
            margin-bottom: 2vh;
            margin-left: 1rem;
            text-decoration: none;
            color: #FFF;
            border-bottom: 1px solid #FFF;
            font-size: 2rem;
        }
        a::hover {
            background-color: #f2f2f2;
        }
    }


    // Fade + slight zoom
    @keyframes fadeIn {
        0% { opacity: 0; transform: scale(.7); }
        100% { opacity: 1; transform: scale(1); }
    }
    
}
