page-home {
    ion-content {
        color: #fff;
        background: linear-gradient(-45deg, #4A4BF5, #A238F6);
        background-size: 400% 400%;
        -webkit-animation: Gradient 15s ease infinite;
        -moz-animation: Gradient 15s ease infinite;
        animation: Gradient 15s ease infinite;
    }
    
    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    #head {
        height: auto;
        padding: 20px;
        margin-left: 40px;
        padding-bottom: 0;
        margin-right: 40px;
        width: auto;
        border-bottom: 1px solid #9B7ADD;
    }

    #logo {
        min-height: 32px;
        max-height: 50px;
        transform: translateX(-3rem) translateY(-1rem);
    }

    @media all and (max-width: 400px) {
        .container > li {
          flex-basis: 100%;
        }
        .container{
            a {
                font-size: 0.2rem !important;
            }
        } 
        .cta {
          order: 1;
        }
    }
    #logout {
        align-self: flex-end;
        margin-left: auto;
    }
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            padding-bottom: 1rem;
            margin-bottom: 2vh;
            margin-left: 1rem;
            text-decoration: none;
            color: #FFF;
            border-bottom: 1px solid #FFF;
            font-size: 2rem;
        }
        a::hover {
            background-color: #f2f2f2;
        }
    }

    #search {
        border-radius: 20px;
        border-color: #78F6FD;
        border-style: solid;
        border-width: 2px;
        height: 6vh;
        padding: 2vh;
        font-size: 1.5em;
        margin-left: 1.5vw;
        margin-bottom: 2vh;
        flex: 1;
        margin-right: 1.5vw;
        min-width: 100px;
        font-family: 'gothamroundedmedium';
        background: transparent;
        color: white;
        max-height: 50px;
        max-width: 800px;
    }

    #search::placeholder {
        color: #C0C0C0;
    }

    #main-content {
        text-align: center;
        padding: 40px;
    }

    #title-text {
        margin: 0 auto;
        color: #FFF;
        font-family: 'gothamroundedbold';
        font-size: 3rem;
    }

    .band {
        width: 90%;
        max-width: 1240px;
        margin: 0 auto;
        margin-top: 4vh;
        display: grid;
        
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        
      }
      
      @media only screen and (min-width: 500px) {
        .band {
          grid-template-columns: 1fr 1fr;
        }  
        .item-1 {
        grid-column: 1/ span 2;
        }
        .item-1 h1 {
          font-size: 30px;
        }
      }
      
      @media only screen and (min-width: 850px) {
        .band {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
      
      /* card */
      
      .card {
        min-height: 100%;
        background: white;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #444;
        position: relative;
        top: 0;
        transition: all .1s ease-in;
        border-radius: 10px;
      }
      
      .card:hover {
        top: -2px;
        box-shadow: 0 4px 5px rgba(0,0,0,0.2);
      }
      
      .card article {
        padding: 20px;
        display: flex;
        
        flex: 1;
        justify-content: space-between;
        flex-direction: column;
      }
      .card .thumb {
        padding-bottom: 60%;
        background-size: cover;
        background-position: center center;
        border-radius: 10px 10px 0 0 ;
      }
      
      .card p { 
        flex: 1; /* make p grow to fill available space*/
        line-height: 1.4;
      }
            
      .card span {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        text-transform: uppercase;
        letter-spacing: .05em;
        margin: 2em 0 0 0;
      }
    
}
