<ion-content class="no-scroll" no-bounce>
    <div id="playerMenu">
        <div id="innerContainer">
          <div id="chat" class="mainBox">
            <span id="theaterName">{{roomName}}</span>
            <div id="onlineCount"></div>
            <div id="chatsep"></div>
            <div id="messageArea" *ngIf="chats.length > 0">
              <div id="chatBubble" *ngFor="let chat of chats" > 
                {{ chat.client.name }}: {{ chat.message }} 
              </div>
            </div>
            <div id="chatArea">
              <input (input)="inputChange($event.target.value)" (keyup.enter)="chat($event.target.value)" type="text" id="chatinput" maxlength="50">
              <span #chatCount>{{ chatLength }}/50</span>
            </div>
          </div>
          <div id="settingsBox" class="mainBox">
            <div *ngIf="!amOwner">
              <h1>You are not the owner of this theater!</h1>
              <p>Editing settings is restricted to the theater owner only.</p>
            </div>
            <div *ngIf="amOwner">
              <h1>Your theater settings</h1>
              <div class="input-group"><input id="videoURL" type="text" placeholder="Set video URL"><button class="sync-button" (click)="setVideoURL()">Submit</button></div>
              <div class="input-group"><input id="roomName" type="text" placeholder="Set a custom room name"><button class="sync-button" (click)="setRoomName()">Submit</button></div>
              <div class="input-group"><input id="roomImage" type="text" placeholder="Set a custom room image"><button class="sync-button" (click)="setRoomImage()">Submit</button></div>

            </div>
          </div>
          <div id="sideControls">
            <div (click)="toggleSettings()" id="settings" tooltip="Toggle Settings" positionH="left"><ion-icon name="ios-cog-outline"></ion-icon></div>
            <div id="link" tooltip="Copy Theater URL" positionH="left"><ion-icon name="ios-link"></ion-icon></div>
            <div (click)="goHome()" tooltip="Exit" positionH="left" id="exit"><ion-icon name="ios-exit-outline"></ion-icon></div>
          </div>
        </div>
    </div>
    <div (click)="clickMenu()" (pan)="dragMenu($event)" id="dragBar"></div>

    <vg-player [ngClass]="{ 'disable-vg': !amOwner }" (onPlayerReady)="onPlayerReady($event)">
        <vg-overlay-play id="bigPlayButton">
          <img src="assets/imgs/bigplaybutton.png">
        </vg-overlay-play>
        <vg-buffering></vg-buffering>
        <div id="timeDisplay">
            <vg-time-display id="currentTime" [vgFor]="singleVideo" [vgProperty]="'current'" [vgFormat]="'mm:ss'"></vg-time-display>
            <vg-time-display id="leftTime" [vgFor]="singleVideo" [vgProperty]="'left'" [vgFormat]="'mm:ss'"></vg-time-display>
        </div>
        <vg-scrub-bar>
            <vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
        </vg-scrub-bar>
    
    
        <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
          <source *ngFor="let video of sources" [src]="video.src" [type]="video.type">
        </video>
    </vg-player>
</ion-content>
