page-room {
    
    video {
        width: 100vw;
        height: 100vh;
        background: #000;
    }
    #playerMenu {
        background: #000;
        width: 100vw;
        height: 100vh;
        display: none;
    }
    #innerContainer {
        background-color: #EDD8FC;
        border-radius: 20px;
        width: 99%;
        height: 99%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #chatBubble {
        background-color: #969696;
        border-radius: 20px;
        color: #fff;
        margin-bottom: 1em;
        font-size: 1.5em;
        width: 20%;
        padding: 1em;
    }

    .mainBox {
        background-color: #FFF;
        border-radius: 20px;
        margin: 15px;
        width: 85%;
        height: 90%;
        float:left;
    }

    #settingsBox {
        display:none;
        padding: 2vw;
    }

    #chat #theaterName {
        margin-left: 20px;
        font-size: 4rem;
        background: linear-gradient(to right,#4A4BF5, #A238F6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #chat #onlineCount {
        float: right;
        margin-right: 20px;
        font-size: 6rem;
        font-family: 'gothamroundedbold';
        background: linear-gradient(to right, #DFF06E,#87F8A6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #chatsep {
        margin-top: 20px;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #FFF, #DEDEDE, #FFF);
    }

    #sideControls {
        display: flex;
        flex-direction: column;
        height: 90%;
        align-items: center;
        justify-content: space-between;
    }

    #sideControls div {
        max-width: 110px;
        max-height: 110px;
    }

    #timeDisplay {
        display: flex;
        width: 100vw;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin-bottom: 37px;
        align-content: space-between;
        flex-direction: row;
    }

    #currentTime {
        font-family: 'gothamroundedbold' !important;
        margin-right: auto;
        font-size: 2vw;
        margin-left: 2vw;
    }

    #leftTime {
        font-family: 'gothamroundedbold' !important;
        margin-left: auto;
        font-size: 2vw;
        margin-right: 2vw;
    }

    @media screen and (max-width: 630px) {
        #timeDisplay {
            display: none;
        }
    }
    
    #exit {
        align-self: flex-end;
        border-radius: 50%;
        background: #969696;
        width: 8vw;
        height: 8vw;
        font-size: 5rem;
        color: #696969;
        margin-right: 2vw;
        margin-top: 3vh;
        display: flex;
        align-items: center;
    }

    #exit ion-icon {
        margin: auto auto;
    }
    #settings {
        align-self: flex-end;
        border-radius: 50%;
        background: linear-gradient(to right, #4A4BF5, #A238F6);
        width: 8vw;
        height: 8vw;
        font-size: 5rem;
        color: #FFF;
        margin-right: 2vw;
        margin-top: 3vh;
        display: flex;
        align-items: center;
    }

    .disable-vg {
        pointer-events: none;
   }

    #settings ion-icon {
        margin: auto auto;
    }

    #link {
        align-self: flex-end;
        border-radius: 50%;
        background: linear-gradient(to right, #4A4BF5, #A238F6);
        width: 8vw;
        height: 8vw;
        font-size: 5rem;
        color: #FFF;
        margin-right: 2vw;
        margin-top: 3vh;
        display: flex;
        align-items: center;
    }

    #link ion-icon {
        margin: auto auto;
    }

    

    #dragBar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 3vh;
        margin-bottom: 3vh;
        width: 33vw;
        z-index: 99999;
        height: 25px;
        border-radius: 20px;
        background: linear-gradient(90deg, #4A4BF5, #A238F6);
        opacity: 0.8;
        transition: all 0.5s ease-in-out;
    }

    #messageArea {
        width: 100%;
        height: 73vh;
        padding: 5vh;
        padding-bottom: 1vh;
    }
    #chatArea {
        position: absolute;
        bottom: 10%;
        width: 90%;
        margin-left: 3vw;
        text-align: left;
    }

    #chatinput {
        font-size: 2rem;
        border-radius: 5px;
        height: 6vh;
        padding-left: 1vw;
        border-style: none;
        background: #F3F3F3;
        margin: 10px;
        width: 80%;
    }
    vg-scrub-bar {
        width: 80vw;
        height: 20px;
        border-radius: 20px;
        background: #EBEBEB;
        margin: auto;
        left: 0;
        right: 0;
    }
    vg-scrub-bar-current-time .background {
        height: 20px;
        border-radius: 20px;
        background: #EDD8FC;
        transform: translateY(-8px) translateX(-1px);
    }
    

    .overlay-play-container {
        background: url(/assets/imgs/bigplaybutton.png) no-repeat center center;
        background-size: 150px;
        opacity: 1;
    }

    vg-scrub-bar-current-time .slider {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: linear-gradient(to right, #4A4BF5, #A238F6);
        box-shadow: none;
        opacity: 1;
        transform: translateY(-12px) translateX(-2px);
        z-index: 9999999999;
        transition: all 0.2s ease-in;
        pointer-events: none;
    }
    .sliderhover {
        height: 50px;
        width: 50px;
        transform: translateY(-17px) translateX(-7px);
    }

    #scrubBar {
        position: fixed;
        background: #EBEBEB;
        border-radius: 20px;
        height: 30px;
        width: 80vw;
        left: 0;
        z-index: 100;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        margin-bottom: 4vh;

    }

    input {
        height: 3vh;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: grey;
        padding: 15px;
        font-size: 1.5rem;
        width: 75%;
    }

    .sync-button {
        width: 100px;
        height: 4vh;
        font-size: 1.5rem;
        margin-left: 1vw;
    }

    .input-group {
        margin-bottom: 10px;
    }

    
}
