<ion-content class="no-scroll" no-bounce>
    <div id="playerMenu">
        <div id="innerContainer">
          <div id="chat" class="mainBox">
            <span id="theaterName">{{roomName}}</span>
            <div id="onlineCount">10</div>
            <div id="chatsep"></div>
            <div id="messageArea"></div>
            <div id="chatArea">
              <input (input)="inputChange($event.target.value)" type="text" id="chatinput" maxlength="50">
              <span #chatCount>{{ chatLength }}/50</span>
            </div>
          </div>
          <div id="settingsBox" class="mainBox">
            <div *ngIf="!amOwner">
              <h1>You are not the owner of this theater!</h1>
              <p>Editing settings is restricted to the theater owner only.</p>
            </div>
            <div *ngIf="amOwner">
              <h1>Your theater settings</h1>
              <input type="text" placeholder="Set video URL">
            </div>
          </div>
          <div id="sideControls">
            <div (click)="toggleSettings()" id="settings"><ion-icon name="ios-cog-outline"></ion-icon></div>
            <div id="link"><ion-icon name="ios-link"></ion-icon></div>
            <div (click)="goHome()" id="exit"><ion-icon name="ios-exit-outline"></ion-icon></div>
          </div>
        </div>
    </div>
    <vg-player>
        <div (click)="clickMenu()" (pan)="dragMenu($event)" id="dragBar"></div>
        <vg-overlay-play id="bigPlayButton">
          <img src="assets/imgs/bigplaybutton.png">
        </vg-overlay-play>
        <vg-buffering></vg-buffering>
        <div id="timeDisplay">
            <vg-time-display id="currentTime" [vgFor]="singleVideo" [vgProperty]="'current'" [vgFormat]="'mm:ss'"></vg-time-display>
            <vg-time-display id="leftTime" [vgFor]="singleVideo" [vgProperty]="'left'" [vgFormat]="'mm:ss'"></vg-time-display>
        </div>
        <vg-scrub-bar>
            <vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
        </vg-scrub-bar>
    
    
        <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
            <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
            <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
            <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm">
        </video>
    </vg-player>
</ion-content>
