// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'nunitobold';
    src: url('../assets/fonts/nunito/nunito-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/nunito/nunito-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'nunitolight';
    src: url('../assets/fonts/nunito/nunito-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/nunito/nunito-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoregular';
    src: url('../assets/fonts/nunito/nunito-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/nunito/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*:not(ion-icon) {
    font-family: 'nunitoregular';
    font-weight: 400;
    box-sizing: border-box;
}
.sync-button {
    background-color: #78F6FD;
    border-radius: 10px;
    border-style: none;
    color: #3B4F8F;
}

.sync-button:hover {
    background-color: #fff !important;
}