// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'gothamroundedbold';
    src: url('../assets/fonts/gotham-rounded/bold/gothamrounded-bold-webfont.woff') format('woff'),
         url('../assets/fonts/gotham-rounded/bold/gothamrounded-bold-webfont.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'gothamroundedmedium';
    src: url('../assets/fonts/gotham-rounded/medium/gothamrounded-medium-webfont.woff') format('woff'),
         url('../assets/fonts/gotham-rounded/medium/gothamrounded-medium-webfont.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'gothamroundedbook';
    src: url('../assets/fonts/gotham-rounded/book/gothamrounded-book-webfont.woff') format('woff'),
         url('../assets/fonts/gotham-rounded/book/gothamrounded-book-webfont.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'gothamroundedlight';
    src: url('../assets/fonts/gotham-rounded/light/gothamrounded-light-webfont.woff') format('woff'),
         url('../assets/fonts/gotham-rounded/book/gothamrounded-light-webfont.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

*:not(ion-icon) {
    font-family: 'gothamroundedbook';
    font-weight: 400;
    box-sizing: border-box;
}
.sync-button {
    background-color: #78F6FD;
    border-radius: 10px;
    border-style: none;
    color: #3B4F8F;
}

.sync-button:hover {
    background-color: #fff !important;
}

.no-scroll .scroll-content{
    overflow: hidden;
  }