page-welcome {
    ion-content {
        background: #9068dd; /* Old browsers */
        background: -moz-linear-gradient(top, #9068dd 0%, #6466c7 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #9068dd 0%,#6466c7 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #9068dd 0%,#6466c7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9068dd', endColorstr='#6466c7',GradientType=0 ); /* IE6-9 */
    }

    #head {
        height: 12vh;
        min-height: 74px;
        padding: 20px;
        margin-left: 40px;
        max-height: 100px;
        margin-right: 40px;
        width: auto;
        border-bottom: 1px solid #9B7ADD;
    }

    #logo {
        height: 100%;
        min-height: 32px;
        max-height: 50px;
        top: 50%;
    }

    #login {
        float: right;
        right: 60px;
        height: 60%;
        padding: 25px;
        padding-left: 30px;
        padding-right: 30px;
        top: 50%;
        font-size: 1.7rem;
        transform: perspective(1px) translateY(-50%);

    }

    #foot {
        margin-right: 40px;
        margin-left: 40px;
        border-top: 1px solid #9B7ADD;
        height: 10vh;
        color: #DCDCDC;
        padding: 3vh;
        padding-top: 2%;
        position: fixed;
        bottom: 0;
        width: calc(100vw - 100px);
    }

    

    #content {
        max-height: 85%;
        height: 78vh;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5vh;
        padding-bottom: 5vh; 
        margin: 0 auto;
    }

    #left {
        height: 100%;
        background: url(/assets/imgs/NEWCLOUD.svg) no-repeat center center;
        background-origin: content-box;
        float: left;
        padding: 2rem;  
        padding-right: 3rem;   
        width: 40%;
        margin-left: 10rem;
    }

    #right-content {
        display: table-cell;
        vertical-align: middle;
        padding-left: 3rem;
    }

    @media screen and (max-width: 727px) {
        #left{ display: none; }
    }

    #right {
        margin-right: 10rem;
        display: flex;
     align-items: center;
     justify-content: center;

        height: 100%;
        padding: 1rem;
    }

    #subtext {
        font-family: 'gothamroundedlight';
        font-size: 1.2rem;
        color: #fff;
        font-weight: 300;
    }

    #title {
        font-family: 'gothamroundedbold';
        font-weight: 700;
        color: #78F6FD;
        font-size: 3.5rem;
    }

    #desc {
        font-family: 'gothamroundedbook';
        color: #fff;
        font-size: 2rem;
        font-weight: 400;
    }

    #sign-up {
        font-size: 2.5rem;
        padding: 30px;
    }
}
